* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.shopping-list {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style-type: none;
}

.shop-item {
  background-color: antiquewhite;
  padding: 1em;
}

img {
  width: 250px;
}
