* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #151515;
  color: #fff;
  font-family: sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.name-title {
  font-size: 30px;
}

.menu-images {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding-bottom: 50px;
}

.intro-first-part {
  padding: 80px 0 0 20px;
}

.intro {
  font-size: 65px;
}

.name {
  text-underline-offset: 10px;
  display: inline;
  text-decoration: underline #64daa6;
  text-decoration-thickness: 4px;
}

.intro-details {
  font-size: 30px;
  margin: 2em 0 2em 0;
}

.contact-btn:hover {
  cursor: pointer;
}
.contact-btn {
  text-underline-offset: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  background-color: transparent;
  border: none;
  text-decoration: underline #64daa6;
  text-decoration-thickness: 4px;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}

.hero-content-1,
.hero-content-2,
.hero-content-3 {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.hero-title {
  font-size: 65px;
}

.hero-title-content {
  font-size: 30px;
}

.project-title {
  margin: 50px;
}

.contact-btn-two:hover {
  cursor: pointer;
}
.contact-btn-two {
  text-underline-offset: 1em;
  margin-top: 4em;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-decoration: underline #64daa6;
  text-decoration-thickness: 4px;
}

.section-content {
  display: flex;
  justify-content: space-around;
}

.first-column,
.second-column {
  padding-right: 500px;
  margin-top: 1px;
}

.dp-title,
.twa-title,
.mg-title,
.elp-title,
.ewa-title,
.ags-title {
  font-weight: bold;
  font-size: 20px;
}

.dp,
.twa,
.mg,
.elp,
.ewa,
.ags {
  margin: 4em 0;
}

.paragraphs {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.vp-btn,
.vc-btn :hover {
  cursor: pointer;
}

.vp-btn,
.vc-btn {
  text-underline-offset: 1em;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: underline #64daa6;
  text-decoration-thickness: 4px;
}

.contact-container {
  background-color: #242424;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0 30px;
}

.contact-title {
  font-size: 65px;
  padding: 20px 0;
}

.contact-details {
  padding-right: 200px;
  font-size: 23px;
  font-weight: bold;
}

.aside-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.name-bar,
.email-bar {
  background-color: transparent;
}

.message-bar {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.snd-btn {
  text-underline-offset: 1em;
  display: grid;
  justify-content: right;
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: underline #64daa6;
  text-decoration-thickness: 4px;
  margin-top: 2em;
  padding-bottom: 2em;
}

.footer-container {
  padding-bottom: 1em;
  background-color: #242424;
}
.menu {
  align-items: center;
}
