* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  height: 100dvh;
  border: 1px solid black;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.screen {
  grid-column: 1 / 5;
  font-size: 48px;
  text-align: right;
  padding: 5px;
}

.clear {
  grid-column: 1 / 4;
}

.zero {
  grid-row: 6 / 7;
  grid-column: 1 / 4;
}

.multiply {
  grid-column: 4 / 5;
}
